<template>
    <v-container class="mt-5">
        <v-card
            class="mx-auto"
            max-width="500"
            v-for="(hero, i) in heroes" :key="i"
        >
            <div v-if="hero.id==id">
                <v-img
                class="white--text align-end"
                height="200px"
                :src="hero.imagen"
                >
                </v-img>

                <v-card-subtitle class="pb-0 headline teal--text">{{hero.nombre}}</v-card-subtitle>

                <v-card-text class="text--primary">
                <div>{{hero.descripcion}}</div>
                </v-card-text>

                <v-card-actions>
                <v-btn
                    color="teal"
                    text
                    :href="hero.url"
                >
                    Ver mas información
                </v-btn>
                <v-icon>mdi-open-in-new</v-icon>

                </v-card-actions>
            </div>
        </v-card>
        <v-row class="mt-5">
            <v-col align="center">
                <v-btn to="/" color="teal" dark>
                    Volver
                </v-btn>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
export default {
    data(){
        return{
            id: '',
            heroInfo: '',
            heroes: [
                {
                    id: 0,
                    nombre: 'Batman',
                    descripcion: 'Conocido inicialmente como The Bat-Man y en español como El Hombre Murciélago, es un personaje creado por los estadounidenses Bob Kane y Bill Finger, y propiedad de DC Comics. Apareció por primera vez en la historia titulada «El caso del sindicato químico» de la revista Detective Comics N.º 27, lanzada por la editorial National Publications el 30 de marzo de 1939.',
                    imagen: 'https://static4.abc.es/media/play/2020/06/23/keaton-kKcD--620x349@abc.jpg',
                    url: 'https://es.wikipedia.org/wiki/Batman'
                },
                {
                    id: 1,
                    nombre: 'Spider-Man',
                    descripcion: 'Llamado Hombre Araña en muchas de las traducciones al español, es un superhéroe ficticio creado por los escritores y editores Stan Lee y Steve Ditko. Apareció por primera vez en el cómic de antología Amazing Fantasy # 15 (10 de agosto de 1962), en la Edad de Plata de los cómics.',
                    imagen: 'https://lh3.googleusercontent.com/proxy/lAyASdc3zLEcUz6HcJax4WBIrmBpH3jDi1r4eeq7cTsccqe0sA5J6Xenlaow3N_7QPBW-sDsYozQ257bp_Rxq7mIqb8CtuUWgLwPNhRX9W0us3HTyFWWCIPtXQ7CCJSzs06au_2yxXzUDgJtiCMjM9RJJ4b9Fr_85z75LkujdgvSW-1iLaCVVenYdE6sG_Haaf8Ti8Etk7udb8uZh1y06OZ50nfN47lylprg',
                    url: 'https://es.wikipedia.org/wiki/Spider-Man'
                },
                {
                    id: 2,
                    nombre: 'Wonder Woman',
                    descripcion: 'La Mujer Maravilla (en inglés: Wonder Woman) es una superheroína ficticia creada por William Moulton Marston para la editorial DC Comics. El personaje es una princesa guerrera de las Amazonas (basado en la raza de las amazonas de la mitología griega) y es conocida en su tierra natal como la princesa Diana de Temiscira.',
                    imagen: 'https://dam.smashmexico.com.mx/wp-content/uploads/2018/04/25081204/trend-wonder-woman-y-su-impacto-positivo-en-la-ninez-cover.jpg',
                    url: 'https://es.wikipedia.org/wiki/Mujer_Maravilla'
                },
                {
                    id: 3,
                    nombre: 'Iron Man',
                    descripcion: 'Conocido en español como El Hombre de Hierro, es un superhéroe ficticio que aparece en los cómics estadounidenses publicados por Marvel Comics. El personaje fue cocreado por el escritor y editor Stan Lee, desarrollado por el guionista Larry Lieber y diseñado por los artistas Don Heck y Jack Kirby.',
                    imagen: 'https://www.cinemascomics.com/wp-content/uploads/2020/06/iron-man-gemas-del-infinito-endgame-960x720.jpg',
                    url: 'https://es.wikipedia.org/wiki/Iron_Man'
                },
                {
                    id: 4,
                    nombre: 'Superman',
                    descripcion: 'Cuyo nombre kryptoniano es Kal-El y su nombre terrestre es Clark Kent, es un personaje ficticio, un superhéroe de los cómics que aparece en las publicaciones de DC Comics. ​Creado por el escritor estadounidense Jerry Siegel y el artista canadiense Joe Shuster en 1933 cuando ambos se encontraban viviendo en Cleveland, Ohio; lo vendieron a Detective Comics, Inc. en 1938 por 130  dólares estadounidenses​ y la primera aventura del personaje fue publicada en Action Comics #1 (junio de 1938)',
                    imagen: 'https://eloutput.com/app/uploads-eloutput.com/2020/06/superman-cavill.jpg',
                    url: 'https://es.wikipedia.org/wiki/Superman'
                },
            ]
        }
    },
    created(){
        this.id = this.$route.params.id;
        console.log(this.id)
    },
}
</script>