<template>
  <v-container>
    <v-row class="mt-5">
      <v-col align="center" >
        <v-card color="teal" dark>
          <v-card-title class="headline primaryText--text justify-center">APP de Prueba</v-card-title>
          <v-card-subtitle class="caption primaryText--text text-center">Incluye filtros, router-link, iteraciones, validaciones, arreglos, vistas base</v-card-subtitle>
        </v-card>
      </v-col>
    </v-row>
    <v-row class="mt-5">
      <v-col align="center" >
        <v-card color="teal" dark>
          <v-card-title class="headline primaryText--text justify-center">Información de Héroes</v-card-title>
          <v-card-subtitle class="caption primaryText--text text-center">Usa los filtros y selecciona una opción del listado para ver más detalles</v-card-subtitle>
        </v-card>
        <v-chip
          class="ma-2 mt-10"
          color="teal"
          label
          dark
        >
          Selecciona a los héroes que pueden volar o no
        </v-chip>
        <v-select
        outlined
        color="teal"
        v-model="flySelected"
        :items="flyCombo"
        >
        </v-select>
        <v-chip
          class="ma-2"
          color="teal"
          label
          dark
        >
          Buscas el nombre de un héroe
        </v-chip>
        <v-text-field
        outlined
        color="teal"
        v-model="nameText"
        >
        </v-text-field>
      </v-col>
      <v-col>
        <v-card
          max-width="300"
          class="mx-auto"
        >
          <v-toolbar
            color="teal"
            dark
          >
            <v-toolbar-title>Superhéroes</v-toolbar-title>
            <v-icon color="red">mdi-info</v-icon>
            <v-spacer></v-spacer>
          </v-toolbar>

          <v-list two-line>
              <v-list-item-group v-model="heroSelected">
                <v-list-item
                  v-for="(hero, i) in heroes"
                  :key="i"
                >
                  <v-avatar @error="hero.avatarURL='logo.png'" class="mr-10" size="62">
                    <v-img :src="hero.avatarURL"/>
                  </v-avatar>
                  <v-list-item-content>
                    <v-list-item-title v-text="hero.nombre"/>
                    <v-list-item-subtitle v-html="hero.nombreReal"/>
                  </v-list-item-content>
                </v-list-item>
              </v-list-item-group>
          </v-list>
          <v-list three-line v-if="heroes == ''">
              <v-list-item-content align="center">
                <span class="headline"><v-icon size="30" class="mb-1" color="red">mdi-information</v-icon>No hay resultados</span>
              </v-list-item-content>
          </v-list>
        </v-card>
      </v-col>
    </v-row>
    <v-dialog v-model="dialog" persistent max-width="300">
      <v-card align="center">
          <v-icon color="red" size="100">mdi-server-remove</v-icon>
          <v-card-title class="headline primaryText--text justify-center">Ha ocurrido un error</v-card-title>
          <v-card-subtitle class="caption primaryText--text text-center">Intenta mas tarde</v-card-subtitle>
          <v-card-actions>
              <v-col cols="12" align="center">
                  <v-btn color="teal" dark>Cerrar</v-btn>
              </v-col>
          </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import Axios from 'axios'

export default {
  data(){
    return{
      heroSelected:"",
      heroes: "",
      heroesAux: "",
      dialog: false,
      aux: 5,
      flySelected: 'Predeterminado',
      flyCombo: ['Predeterminado', 'Vuela', 'No vuela'],
      idSelected: 'Predeterminado',
      idCombo: ['Predeterminado'],
      nameText: ""
    }
  },
  mounted(){
    this.getHeroes()
  },
  watch:{
    flySelected(){
      this.filterHeroes()
    },
    nameText(){
      this.filterHeroes()
    },
    heroSelected(){
      this.heroInfo(this.heroSelected)
    }
  },
  methods:{
    filterHeroes(){
      this.heroes = this.heroesAux
      let heroFilter
      switch (this.flySelected) {
        case 'Vuela':
          heroFilter = this.heroes.filter( hero => {return hero.puedeVolar === true})
        break;
        case 'No vuela':
          heroFilter = this.heroes.filter( hero => {return hero.puedeVolar === false})
        break;
        default:
          heroFilter = this.heroesAux
        break;
      }
      heroFilter = heroFilter.filter(hero => {return hero.nombre.toLowerCase().includes(this.nameText)})
      this.heroes = heroFilter
    },
    getHeroes(){
      Axios.get('http://157.245.138.232:9091/api/v1/test/superheroes').then( res => {
        this.heroes = res.data.data
        console.log(res.data.data)
        this.heroesAux = res.data.data
        for (let i = 0; i < this.heroes.length; i ++) {
          this.idCombo.push(i+1);
        }
      }).catch( (error) => {
        this.dialog = true
      })
    },
    heroInfo(hero_id){
        this.$router.push({name: 'HeroInfo', params: {id: hero_id}})
    },
  }

}
</script>
