<template>
  <v-app>
    <v-app-bar
      app
      color="teal"
      dark
    >
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png"
          transition="scale-transition"
          width="40"
        />
      </div>
      <span class="mr-2">VueJS Test</span>

      <v-spacer></v-spacer>

      <v-btn
        href="https://gitlab.com/INTERFERENCE-1013"
        target="_blank"
        text
      >
        <span class="mr-2">GitLab</span>
        <v-icon>mdi-open-in-new</v-icon>
      </v-btn>
    </v-app-bar>

    <v-main>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script>

export default {

  components: {
  },

  data: () => ({
    //
  }),
};
</script>
